<% if is_a_member?(@league.id) %>
  <% unless has_a_studio? %>
    <p>
    You're a member of <%= @league.name %> but you don't have a studio yet, or any studio invites.<br />
    <%= link_to "Create a Studio", new_league_studio_path(@league) %>
    </p>
  <% end %>

<%# form_for @invite , :url => invites_path do |f| %>
    <%# f.hidden_field :user_group_id, :value => @invite.user_group_id %>
    <%# f.label :email %>
    <%# f.email_field :email %>
    <%# f.submit 'Send' %>
<%# end %>

<% else %>
  <% if is_invited?(@league.id) %>
  <p>You've been invited to <strong><%= @league.name %></strong>. <%= link_to "Join Up!", league_join_path(@league, :l => @league.id) %></p>
  <% end %>
<% end #end is_a_member? %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
      <th>Members</th>
    </tr>
  </thead>
<tbody>
    <% @studios.each do |s| %>
      <tr>
        <td><%= link_to s.name, [@league, s] %></td>
        <td><%# s.score %></td>
        <td><%# s.owners %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :sidebar do %>
  <!-- sidebar content specific to this page -->
  <%= image_tag @league.logo.url(:medium) %>

  <% if is_owner?(@league.id) %>
  <br /><br />
    <p>
      <strong><%=h link_to 'Edit League &#8594;'.html_safe, edit_league_path(@league) %></strong>
    </p> 

      
      <%= form_for @invite, :url => invites_path do |f| %>
          <%= hidden_field_tag :league_id, @league.id %>
          <%= f.label :email, "Invite Member (email)" %>
          <%= f.email_field :email %>
          <%= f.submit 'Send' %>
      <% end %>

   

  <% elsif is_a_member?(@league.id) %>
    <%# link_to "Leave League", league_leave_path(@league, :l => @league.id), :confirm => "Are you sure you want to leave #{@league.name}" %>
  <% else %>
    <% if is_invited?(@league.id) %>
    <% is_invited?(@league.id) %>
      <h4><%= link_to "Join League", league_join_path(@league, :l => @league.id) %></h4>
    <% end %>
  <% end %>

  <p>
    <strong>Members</strong>
  <p>
  <ul>
    <% @memberships.each do |user| %>
      <li>
      <% if current_user.email == user.email %>
        You
      <% else %>
        <%= user.email %>
      <% end %>

        <br />
          <div style="display: none">
          <%# user.movies.where("movies.title IS NOT NULL AND league_id = #{@league.id}").each do |m| %>
              <%# m.title %><br />
          <%# end %>
          </div>
      </li>

    <% end %>
  </ul>
  <% if !@invited.empty? %>
    <p>
      <strong>Invited</strong>
    <p>
    <ul>
      <% @invited.each do |i| %>
      <%# Need to find way of collapsing this nested do loop %>
        <li>
          <%= i.email %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% end # end sidebar%>
