<p id="notice"><%= notice %></p>
<h3>
  <% unless is_a_member?(@league.id) %>
    <%= link_to "Join League", league_join_path(@league, :l => @league.id) %>
  <% end %>
</h3>

<h3>Your Roster in <%= @league.name %></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>title</th>
      <th>Critics Score</th>
      <th>Audience Score</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
<tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.category %></td>
        <td><%= movie.title %></td>
        <td><%= movie.critics_score %></td>
        <td><%= movie.audience_score %></td>
        <td>
        <% unless movie.rotten_id %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      rotten_search_index_path(:category => "#{movie.category}", :id => movie.id, :league_id => @league.id), :class => 'btn btn-mini' %>
        <% else %>
          Stub
        <% end %>
          <%# link_to t('.destroy', :default => t("helpers.links.destroy")),
                      movie_path(movie),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# form_for @invite , :url => invites_path do |f| %>
    <%# f.hidden_field :user_group_id, :value => @invite.user_group_id %>
    <%# f.label :email %>
    <%# f.email_field :email %>
    <%# f.submit 'Send' %>
<%# end %>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>

<% content_for :sidebar do %>
  <!-- sidebar content specific to this page -->
  <% image_tag @league.logo %>

  <p>
    <strong>Game type:</strong>
    <%= @league.game_type %>
  </p>

  <p>
    <strong>Members</strong>
  <p>
  <ul>
    <% @memberships.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
  </ul>
<% end %>