<%= form_for @movie, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :category, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rotten_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rotten_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :critics_score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :critics_score, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :audience_score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :audience_score, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                movies_path, :class => 'btn' %>
  </div>
<% end %>
